<!DOCTYPE html>
<html>
<head>
	<title>Forget-password</title> 
	<link rel="stylesheet" type="text/css" href="../static/css/password-reset.css">
	<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../static/js/login.js"></script>
</head>
<body>
	<div class="Forget-password">
		<input type="text" id="fgt-pwd" placeholder="mobile number">
		<button id="send-otp" onclick="">send otp</button>
		<div class="otp-number">
			<input type="text" id="otp" placeholder="Enter otp">
			<button id="otp-submit" onclick="window.location.href ='reset-password.html'">submit</button>
		</div>
	</div>

</body>
</html>