<!DOCTYPE html>
<html>
<head>
	<title>Forget-password</title> 
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../static/js/login.js"></script>
</head>
<body>
	<div class="Reset-password">
		<input type="text" id="rst-pwd" placeholder="New password">
		<input type="text" id="verify-pwd" placeholder="Confirm password">
		<button id="reset-pwd" onclick="">reset</button>
		
	</div>

</body>
</html>