
#clear{
	width: 100px;
}
* {
	margin: 0px;
	padding:0px;
}

.button {
	width: 75px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	border: none;
}

.textview {
	width: 605px;
	margin: 10px;
	font-size: 50px;
	padding: 20px;
	border: none;
	background-color: transparent;
}

.main {
	width: 350px;
	height: 300px;
	background-color: #efecec;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%)translateY(-50%);
	border: 5px solid gray;
}